<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustos de las personas</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <body>
        <h1>Bienvenido a nuestros gustos</h1>
        <br>
        <img src="../static/Juliana.png" alt="Foto de Juliana"width="200" height="200">
        <br>
        <h>¡Hola! 🌟 Soy Juliana</h>
        <p>Soy una estudiante de noveno semestre de Ingeniería de Sistemas en la Universidad de Cundinamarca - 
            Villa de San Diego de Ubaté, apasionada por la tecnología y el impacto social.</p>
       
            
    
        <br>
        <img src="../static/imagenFlask.jpeg" alt="Foto Aleky" width="200" height="200">
        <br>    
        <h>¡Hola! Soy Aleky</h>
        <p>Soy un estudiante de noveno semestre del programa Ingeniería de Sistemas en la Universidad de Cundinamarca - 
            seccional Ubaté, me apasiona mucho los temas relacionados con la seguridad de la información.</p>
        
       
        <br>
        <img src="../static/IMG_20231026_074834.jpg" alt="Foto Fabian" width="200" height="200">
        <br> 
        <h>¡Hola! :D Soy Fabian !!!</h>
        <p>Soy un estudiante de noveno semestre del programa Ingeniería de Sistemas en la Universidad de Cundinamarca - 
            seccional Ubaté, me apasiona mucho los temas relacionados el diseño y la recolección de datos a usuarios, por eso me gustaría enfocarme en ui/ux Designer y tener conocimientos en ux Researcher </p>
        

    </body>
</html>
