<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Bienvenido a nuestras biografias</h1>
    <br>
    <img src="../static/Juliana.png" alt="Foto de Juliana"width="200" height="200">
    <br>
    <h>¡Hola! 🌟 Soy Juliana</h>
    <p>Soy una estudiante de noveno semestre de Ingeniería de Sistemas en la Universidad de Cundinamarca - 
        Villa de San Diego de Ubaté, apasionada por la tecnología y el impacto social.</p>
    <p>Como oradora dinámica, he abordado temas de vanguardia, como el Análisis de Datos con una 
        Perspectiva Ética en el prestigioso encuentro tecnológico MacaoTech en Honduras. 
        También he explorado estrategias de comunicación para mujeres en STEM en el Technolatinas Latinas Code Camp.</p>
    <p>Mi trayectoria incluye una destacada participación en Google en el Día Internacional de la Mujer '23, 
        donde representé a WTM México como GitHub Campus Expert, contribuyendo al crecimiento de la comunidad tecnológica. 
        Como cofundadora de Network WE (Women in Engineering), he coescrito proyectos significativos como Matilda y Women in Engineering V0.4, 
        así como "The Importance of Knowledge Networks in Engineering and their Impact on Professional Development."</p>
    <p>Además de mi formación en Jump! Education en el área de Análisis de Datos, me enorgullece haber completado 
        con éxito el programa "Data Analytics with an Ethical Perspective" de SheWorks! y ser reconocida como 
        la ganadora de "Cybertech Women 2023" por la Universidad Nacional Abierta y a Distancia - UNAD.</p>
        

    <br>
    <img src="../static/imagenFlask.jpeg" alt="Foto Aleky" width="200" height="200">
    <br>    
    <h>¡Hola! Soy Aleky</h>
    <p>Soy un estudiante de noveno semestre del programa Ingeniería de Sistemas en la Universidad de Cundinamarca - 
        seccional Ubaté, me apasiona mucho los temas relacionados con la seguridad de la información.</p>
    <p>Como estudiante me he capacitado mediante los conocimiento que ofrece la carrera y mis estudios autodidactas en los cuales he aprendido
        como se utilizan sistemas basados en Unix/Linux enfocados a la gestion de la ciberseguridad ademas, me entusiama trabajar en un area de ciberseguridad como 
        Forense.</p>
    <p>Conocimientos o areas en las cuales tengo experiencia  son : Redes de comunicacion, Protocolos de transferencia de datos, 
    Gestion de permisos mediante Bash shell, programacion en Bashshell , directorio activo, PowerShell, programacion de scripts con python, SQL, NoSQL.</p>
   
    <br>
    <img src="../static/IMG_20231026_074834.jpg" alt="Foto Fabian" width="200" height="200">
    <br> 
    <h>¡Hola! :D Soy Fabian !!!</h>
    <p>Soy un estudiante de noveno semestre del programa Ingeniería de Sistemas en la Universidad de Cundinamarca - 
        seccional Ubaté, me apasiona mucho los temas relacionados el diseño y la recolección de datos a usuarios, por eso me gustaría enfocarme en ui/ux Designer y tener conocimientos en ux Researcher </p>
    <p>Como estudiante me he capacitado mediante los conocimientos que ofrece la carrera y mis estudios autodidactas en los cuales he aprendido
        cómo se utilizan las herramientas de diseño para la selección de tecnologías de desarrollo así mismo como el levantamiento de datos con la interacción de usuario
</p>
    <p>Conocimientos o áreas en las cuales tengo experiencia son: Frontend, UX Researcher, Figma, Adobe XD, Sketcher. Metodologías de requerimientos y entornos de diseño en ux y ui</p>
    <p>La mejor forma de implementar el diseño es llegar a lo simple y efectivo, no reinventar lo ya creado :D</p>

    <h2>Aqui puedes dejar tus datos</h2>
    <p>Si deseas contactarnos, puedes dejar tus datos a continuacion:</p>
    <form action="/guardar_personas" method="post">
        <B>Nombre:</B>
        <input type="text" name="nombre">
        <br>
        <B>Apellido:</B>
        <input type="text" name="apellido">
        <br>
        <B>Telefono:</B>
        <input type="text" name="telefono">
        <br>
        <br>
        <button type="submit">Guardar</button>
    </form>

</body>
</html>