<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
</head>
<body>
    <h1>Bienvenido a mi biografia</h1>
    <br>
    <img src="../static/Juliana.png" alt="Foto de Juliana"width="200" height="200">
    <br>
    <h>¡Hola! 🌟 Soy Juliana</h>
    <p>Soy una estudiante de noveno semestre de Ingeniería de Sistemas en la Universidad de Cundinamarca - 
        Villa de San Diego de Ubaté, apasionada por la tecnología y el impacto social.</p>
    <p>Como oradora dinámica, he abordado temas de vanguardia, como el Análisis de Datos con una 
        Perspectiva Ética en el prestigioso encuentro tecnológico MacaoTech en Honduras. 
        También he explorado estrategias de comunicación para mujeres en STEM en el Technolatinas Latinas Code Camp.</p>
    <p>Mi trayectoria incluye una destacada participación en Google en el Día Internacional de la Mujer '23, 
        donde representé a WTM México como GitHub Campus Expert, contribuyendo al crecimiento de la comunidad tecnológica. 
        Como cofundadora de Network WE (Women in Engineering), he coescrito proyectos significativos como Matilda y Women in Engineering V0.4, 
        así como "The Importance of Knowledge Networks in Engineering and their Impact on Professional Development."</p>
    <p>Además de mi formación en Jump! Education en el área de Análisis de Datos, me enorgullece haber completado 
        con éxito el programa "Data Analytics with an Ethical Perspective" de SheWorks! y ser reconocida como 
        la ganadora de "Cybertech Women 2023" por la Universidad Nacional Abierta y a Distancia - UNAD.</p>
    <h2>Aqui puedes dejar tus datos</h2>
    <p>Si deseas contactarme, puedes dejar tus datos a continuacion:</p>
    <form action="/guardar_personas" method="post">
        <B>Nombre:</B>
        <input type="text" name="nombre">
        <br>
        <B>Apellido:</B>
        <input type="text" name="apellido">
        <br>
        <B>Telefono:</B>
        <input type="text" name="telefono">
        <br>
        <br>
        <button type="submit">Guardar</button>
    </form>

</body>
</html>